<main class="dashboard-container">
    <div class="garage-public-header">
        <h1 id="garage-owner-title">Garaža</h1>
        <a href="#/" class="back-link"><i class="fas fa-arrow-left"></i> Nazaj na vse oglase</a>
    </div>

    <div class="listings-grid" id="public-garage-container">
        </div>

    <div id="garage-not-found-message" class="empty-state" style="display: none;">
         <h3>Uporabnik ne obstaja ali pa je njegova garaža prazna.</h3>
         <p>Poskusite preveriti, ali je uporabniško ime pravilno.</p>
    </div>
</main>