<header>
    <div class="header-left">
        <a href="#/" class="logo">Moj<span>Avto.si</span></a>
    </div>
    <div class="header-actions">
        <button class="sidebar-toggle-btn" id="sidebarToggle" style="display: none;">
            <i class="fas fa-bars"></i>
        </button>
        <button id="themeToggleBtn">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
        </button>
        <a href="#/login" id="loginLink" class="login-btn">Prijava</a>
        <div id="userMenuContainer"></div> 
    </div>
</header>