<div id="confirmation-modal" class="modal-overlay" style="display: none;">
    <div class="modal-content">
        <h3 id="modal-title" data-i18n-key="modal_default_title">Potrditev</h3>
        <p id="modal-message"></p>
        <div class="modal-actions">
            <button id="modal-cancel-btn" class="btn btn-secondary" data-i18n-key="modal_cancel_btn">Prekliči</button>
            <button id="modal-confirm-btn" class="btn btn-primary" data-i18n-key="modal_confirm_btn">Potrdi</button>
        </div>
    </div>
</div>