/* ==================================================== */
/* 2. OSNOVNI STILI IN RESETI                           */
/* ==================================================== */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
    
    padding-top: var(--safe-area-inset-top);
    padding-right: var(--safe-area-inset-right);
    padding-bottom: var(--safe-area-inset-bottom);
    padding-left: var(--safe-area-inset-left);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

input,
textarea,
select,
button {
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Inter', sans-serif;
}